<%- include('partials/header') -%>
    </head>
    <body>
        <h1> Agrega un dicho </h1>

        <% if (messages.message) { %>
            <p>
                <%= messages.message %>
            </p>
        <% } %>

        <!-- submit form -->
        <form action="/agregaDicho" method="POST">
        <!-- <form> -->
            <span>*</span>
            <input type="text" placeholder="Dicho" name="dicho">
            <span>*</span>
            <input type="text" placeholder="Meaning" name="meaning">
            <span>*</span>
            <input type="text" placeholder="Example" name="example">
            <input type="text" placeholder="Other Variations" name="variations">
            <input type="text" placeholder="Any other comments (e.g. history info)" name="comments">

            <input type="submit">

        </form>
    </body>
<%- include('partials/footer') -%>